pre, code {
	font: 13px/19px Cousine, "Source Code Pro", "Anonymous Pro", Monaco, monospace;
}
	pre {
		background: #fff;
		color: #86827d;
		
		font: 13px/24px Cousine, "Source Code Pro", "Anonymous Pro", Monaco, monospace;
		word-wrap: break-word;
		
		border-radius: 5px;
		padding: 20px 25px;
	}

pre .comment {
	color: #cfcdc9;
}

pre .function, pre .variable {
	color: #d85e34;
}

pre .support, pre .keyword {
	color: #8cb833;
}

pre .call {
	color: #4cabe5;
}

.string {
    color: #a69061;
    background: #fffdf2;
}