@import 'reset.css';
@import 'layout.css';
@import '//fonts.googleapis.com/css?family=Cousine:400,700|Alegreya:400italic,700italic,400,700|Karla:400,400italic,700,700italic';

body, input, textarea, select, button {
	font: 18px/28px Karla, sans-serif;
}

body {
	background: #f6f5f4;
	color: #807b76;
}

a {
	color: #36a4e3;
	text-decoration: none;
}
	a span {
		opacity: .5;
	}
	
a, span {
	-webkit-transition: color .2s, background .2s, opacity .2s;
	-moz-transition: color .2s, background .2s, opacity .2s;
	transition: color .2s, background .2s, opacity .2s;
}
	a span {
		-webkit-transition: none;
		-moz-transition: none;
		transition: none;
	}
	
.btn, button {
	display: inline-block;
	padding: 11px 22px;
	
	background: #36a4e3;
	color: #fff !important;
	
	font-size: 13px !important;
	line-height: 13px !important;
	
	cursor: pointer;
	
	border: none;
	border-radius: 20px;
}
	.btn:active, button:active {
		box-shadow: inset 0 2px 2px rgba(0,0,0,.2);
	}
	.btn.subdued, button.subdued {
		background: transparent !important;
		box-shadow: inset 0 0 0 2px rgba(255,255,255,.2);
		opacity: .5;
	}
		.btn.subdued:active {
			box-shadow: inset 0 2px 2px rgba(0,0,0,.2), inset 0 0 0 2px rgba(255,255,255,.2);
		}
		.btn.subdued:hover {
			opacity: 1;
		}
	.btn + .btn {
		margin-left: 25px;
	}
		
h1, h2, h3, h4 {
	font: 40px/48px Alegreya, Garamond, serif;
}
	h1 {
		font-size: 48px;
		line-height: 60px;
	}
	h3 {
		font-size: 32px;
		line-height: 42px;
	}
	h4 {
		font-size: 26px;
		line-height: 32px;
	}

#top {
	background: #1b1a21;
	color: #8b8a94;
}
	#top nav {
		padding: 30px 35px;
	}
		#top nav #logo, #top nav ul, #top nav li {
			position: relative;
			float: left;
			margin-right: 50px;
			
			list-style: none;
		}
		#top nav a {
			position: relative;
			
			font-size: 14px;
			color: #898a94;
		}
			#top nav a:hover {
				color: #fff;
			}
			#top nav .active a {
				color: #36a4e3;
			}
				#top nav .active a:before {
					content: '';
					position: absolute;
					left: 50%;
					bottom: -10px;
					
					display: block;
					width: 8px;
					height: 4px;
					margin-left: -4px;
					
					background: #36a4e3 url('../img/nav-arrow_up.png');
				}
			#top nav .dropdown > a:after {
				content: '';
				position: relative;
				left: 8px;
				top: -2px;
	
				display: inline-block;
				width: 8px;
				height: 4px;
				
				background: currentColor url('../img/nav-arrow_down.png');
			}
		#top nav ul ul {
			position: absolute;
			left: -5px;
			top: 30px;
			z-index: 10000;
			
			float: none;
			width: 160px;
			padding: 5px 0;
			
			background: #222128;

			border-radius: 8px;
			
			pointer-events: none;
			opacity: 0;
			
			-webkit-transition: opacity .2s, top .2s;
			-moz-transition: opacity .2s, top .2s;
			transition: opacity .2s, top .2s;
		}
			#top nav .dropdown:hover ul {
				opacity: 1;
				top: 40px;
				
				pointer-events: all;
			}
			#top nav ul ul:before {
				content: '';
				position: absolute;
				left: 50%;
				top: -5px;
				
				display: block;
				margin-left: -6px;
				
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				border-bottom: 5px solid #222128;
			}
			#top nav ul ul li {
				float: none;
				margin-right: 0;
			}
			#top nav ul ul a {
				display: block;
				padding: 4px 22px;
			}
		#top nav .buttons {
			float: right;
			
			position: relative;
			top: -3px;
		}
			#top nav .buttons a {
				float: right;
				margin-left: 25px;
			}
	#top h1 {
		padding: 60px 0 50px;
		color: #ecebe8;
	}
		#top h1 i {
			font-style: normal;
			color: #fff;
		}
	#top .screenie {
		display: block;
		margin: 0 auto;
		
		position: relative;
		top: 85px;
	}
	#top .cursor {
		display: inline-block;
		width: 2px;
		height: 48px;
		
		position: relative;
		top: 8px;
		left: -4px;
		
		background: #363442;
		
		visibility: visible;
		
		-webkit-animation: flicker 1s infinite;
		-moz-animation: flicker 1s infinite;
		animation: flicker 1s infinite;
	}
	
.home #top .wrap {
	padding: 30px 0 10px;
	text-align: center;
}
	.home #top .wrap h1 {
		padding-bottom: 0;
	}
	.home #top .wrap p {
		padding-bottom: 25px;
	}
	
.content {
	padding: 60px 0;
}
	.home .content {
		padding-top: 90px;
	}
	
#footer {
	padding: 30px 0;
	
	background: #fff;
}
	
@-webkit-keyframes flicker { 0% { opacity: 0 } 50% { opacity: 0 } 50.1% { opacity: 1 }}
@-moz-keyframes flicker { 0% { opacity: 0 } 50% { opacity: 0 } 50.1% { opacity: 1 } }
@keyframes flicker { 0% { opacity: 0 } 50% { opacity: 0 } 50.1% { opacity: 1 } }
			
/* retinaarrgggh */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	#top nav .active a:before {
		background-image: url('../img/nav-arrow_up@2x.png');
		background-size: 8px 4px;
	}
	
	#top nav .dropdown > a:after {
		background-image: url('../img/nav-arrow_down@2x.png');
		background-size: 8px 4px;
	}
}