@import 'layout.css';

* {
    margin: 0;
    padding: 0;
    
    -webkit-font-smoothing: antialiased;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::selection {
    background: #a4aebf;
    color: #fff;
}

body {
    font: 15px/25px "Helvetica Neue", sans-serif;
    color: #596270;
}

p a, #content a {
    color: #3466b1;
    font-weight: 500;
    text-decoration: none;
}
    p a:hover, #content a:hover {
        background: #f1f5fb;
        color: #26559b;
    }
    
.submenu {
	padding-left: 30px;
}

p + small {
	display: block;
	font-size: 13px;
	line-height: 21px;
	
	color: #969fae;
}

button, .btn {
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    
    border: none;
    border-radius: 5px;
    
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    text-decoration: none;
    
    background: #757e8e;
    color: #fff;
}
    button i, .btn i {
        font-style: normal;
        opacity: .7;
    }
    button:hover, .btn:hover {
        background: #4175cb;
    }
    
h2 {
	font-weight: 300;
	font-size: 24px;
	line-height: 34px;
	
	padding-bottom: 15px;
}
h3 {
	font-weight: 500;
	font-size: 17px;
	
	padding: 10px 0 15px;
}

p {
	padding-bottom: 15px;
}

#top {
    position: relative;
    overflow: hidden;
    padding: 50px 0 60px;
    
    background: #e4e7ec;
}
    #top nav {
        padding-bottom: 40px;
    }
        #top nav img, #top nav li {
            float: left;
            padding-right: 60px;
            
            list-style: none;
        }
        #top nav a {
            font-size: 13px;
            font-weight: 500;
            text-decoration: none;
            
            color: #727f94;
        }
            #top nav a:hover {
                color: #465263;
            }
            #top nav .active a {
                color: #2e66b9;
            }
    #top h1 {
    	position: relative;
    	z-index: 2;
    	
        font-size: 32px;
        line-height: 44px;
        font-weight: 300;
        
        color: #586374;
    }
        .home #top h1 {
            padding-top: 140px;
            margin-bottom: 0;
            
            position: relative;
            z-index: 2;
        }
        #top h1 .btn {
            float: right;
        }
    #top .screenie {
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 1;
    
        opacity: .6;
        
        -webkit-animation: slide 1.2s;
    }
        
div.features {
    margin: 50px auto;
}
    .features h2 {
        float: left;
        padding-bottom: 4px;
        
        font-size: 14px;
        font-weight: 500;
    }
    .features div img {
        float: left;
        margin-right: 15px;
        
        width: 24px;
        height: 24px;
    }
    .features p {
        clear: both;
        padding-left: 39px;
        padding-bottom: 0;
        
        font-size: 13px;
        line-height: 19px;
    }
    .features div {
        margin-bottom: 30px;
    }
        
#footer {
    background: #f8f9fa;
    padding: 40px 0 10px;
}
    #footer small {
        float: left;
        
        font-size: 13px;
        color: #b3bac1;
    }
        #footer small b {
            font-weight: 500;
            color: #a6aeb7;
        }
    #footer a {
        float: right;
        
        font-size: 13px;
        font-weight: 500;
        text-decoration: none;
        color: #6e7685;
        
        margin-left: 40px;
    }
        #footer a:hover {
            color: #505968;
        }
        
hgroup {
 	display: none;
}
        
        
@-webkit-keyframes slide {
    0% { bottom: -300px; opacity: 0; }
    100% { bottom: 0; opacity: .6; }
}