.screenie {
	display: none;
}

.wrap, #content {
    position: static;
	width: 90% !important;
}

.left, [class*='col'], .content, .sidebar {
	float: none;
	width: 100% !important;
}

.download {
    display: none;
}

#top {
    padding: 30px 0 0;
}
    #top h1 {
        margin-left: 0;
    }
        .home #top h1 {
            padding-top: 0;
        }
    #top nav img, #top nav li {
        padding-right: 40px;
    }

#footer small, #footer nav {
    display: block;
    float: none;
    text-align: center;
}
    #footer small {
        padding-bottom: 8px;
    }
    #footer a {
        float: none;
        margin: 0 20px;
    }