pre {
	background: #fafafa;
	border: 1px solid #f1f1f1;
	border-radius: 6px;
	word-wrap: break-word;
	color: #728794;
	font-size: 16px;
}

pre, code {
	font-family: 'Monaco', courier, monospace;
}

pre .comment {
	font-style: italic;
}

pre .function, pre .variable {
	color: #2f97cc;
}

pre .support, pre .keyword {
	color: #7fba38;
}